<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}動物病院予約{% endblock %}</title>
    <div id="humberger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav id="menu" class="hidden">
      <a href="/">Home</a>
      <a href="/owners/">飼い主</a>
      <a href="/pets/">ペット</a>
      <a href="/vets/">獣医</a>
      <a href="/appointments/">予約</a>
    </nav

    <link rel="stylesheet" href="/static/style.css">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>🏥 動物病院予約システム</h1>
      <hr>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flash">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      {% block extra_js %}{% endblock %}
    </main>
  </body>
</html>
